/* Card Style */
.card_back {
  background-color: #00b3fe;
  padding: 3px;
  border-radius: 15px;
  height: 35vh;
}
.card_img_back {
  width: 100%;
  transition: 1s;
  transform: rotate(-10deg);
  border-radius: 15px;
  height: 34vh;
}
.card_back2 {
  background-color: rgb(255, 165, 0);
  padding: 3px;
  border-radius: 15px;
}
.card_img_back:hover {
  transform: rotate(0deg);
}
/* ________________________________________ */
/* Arrow Animation Btn */
.icon_right_arrow {
  font-size: 30px;
  color: orange;
}
.blog_h3:hover .icon_right_arrow {
  transition: transform 0.3s ease-in-out; /* Faster transition */
  animation: moveRightLeft 0.4s infinite alternate; /* Faster animation */
}
@keyframes moveRightLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      20px
    ); /* Adjust the value as needed for the desired translation */
  }
}
/* ________________________________________ */
/* Submit Button */
.next_blog_btn {
  background: rgb(251, 157, 5);
  background: -moz-linear-gradient(
    159deg,
    rgba(251, 157, 5, 1) 58%,
    rgba(134, 120, 98, 1) 76%
  );
  background: -webkit-linear-gradient(
    159deg,
    rgba(251, 157, 5, 1) 58%,
    rgba(134, 120, 98, 1) 76%
  );
  background: linear-gradient(
    159deg,
    rgba(251, 157, 5, 1) 58%,
    rgba(134, 120, 98, 1) 76%
  );
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(251, 157, 5);
  color: var(--white-color);
}
.next_blog_btn:hover {
  background: rgb(1, 186, 230);
  background: -moz-linear-gradient(
    159deg,
    rgba(1, 186, 230, 1) 58%,
    rgba(56, 120, 135, 1) 76%
  );
  background: -webkit-linear-gradient(
    159deg,
    rgba(1, 186, 230, 1) 58%,
    rgba(56, 120, 135, 1) 76%
  );
  background: linear-gradient(
    159deg,
    rgba(1, 186, 230, 1) 58%,
    rgba(56, 120, 135, 1) 76%
  );
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid var(--main-color);
  color: var(--white-color);
}
/* ________________________________________ */
/* Heading Styling */
.blog_h3 {
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
}
.blog_p {
  color: var(--white-color);
  font-weight: bold;
}
.blogs_h1 {
  color: var(--white-color);
}
.blogs_h2 {
  color: var(--main-color);
  font-size: 39px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .blogs_h1 {
    font-size: 16px;
  }
  .blogs_h2 {
    font-size: 15px;
  }
}
/* ________________________________________ */